body
  padding: 50px
  font-family: 'Fira Sans Extra Condensed', sans-serif
  background-color: #F2F2F2
  background-image: url('geometry2/geometry2.png')
  text-align: center

a
  color: #00B7FF

ul
  margin: 5% 20%
  list-style: none
  text-align: left

button
  font-size: 120%
  border-radius: 5px
  font-family: 'Fira Sans Extra Condensed', sans-serif

.line
  height: 2px
  background-color: #858585

.view
  float: right
